.rootSave {
    max-width: 250px;
    margin-top: 5%;
    margin-left: 2%;
    height: fit-content;
  }

  .newsFeedSaveBody{
    height:595px;
    margin-top: 10px;
    display: flex;
  }

  .noSavedItemsDiv{
    margin-top: 25%;;
  }

  .postedByName{
    float: left;
    margin-left: 20px !important;
    font-weight: 600 !important;
      font-family: cursive !important;
  }

  @media screen and (max-width: 645px) {
    .noSavedItemsDiv {
       margin-top: 60%;
   }
   .newsFeedSaveBody{
     margin-top: 115px;
   }
 }