.root {
  max-width: 417px;
  margin-top: 5%;
}

.media {
  height: 100px;
  padding-top: 56.25%   ;
}

.newsFeedBody{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
