.MuiSvgIcon-root {
  width: 20px;
  height: 20px;
  color: black;
}
.MuiTypography-noWrap {
  color: black;
}

.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #fafafa !important;
}

.MuiToolbar-regular {
  min-height: 60px !important;
}

.seachField {
  margin-left: 10%;
  display: inline-flex;
  background-color: #ffffff;
}

.AccountIcon {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.root {
  max-width: 417px;
  margin-top: 5%;
  margin-left: 30%;

}

.media {
  height: 100px;
  padding-top: 56.25%   ;
}

.avatar {
  background-color: red;
}
