.modalStyle {
    left: 32%;
    top: 30%;
    height: 250px;
    position: absolute;
    width: 380px;
    background-color: white;
}

@media screen and (max-width: 645px) {
    /* .modalStyle {
        left: 18%;
        top: 30%;
        height: 250px;
        position: absolute;
        width: 308px;
        background-color: white;
    } */
    .modalStyle {
        left: 10%;
        top: 30%;
        height: 300px;
        position: absolute;
        width: 333px;
        background-color: white;
    }
}

.modalAddPostDiv {
    margin-left: 15%;
    margin-top: 2%;
}

.inputUpload {
    display: none;
}

.uploadBtn{
    top:8px;
}

.cameraBtn {
    top: 16px;
    right: 0px;
    padding-right: 0px;
    left: 0px;
}

.mediaModal {
    height: 100px;
    width: 100px;
}

.rootModalCard {
    margin-left: 90px !important;
    margin-right: 100px !important;
    margin-top: 40px !important;
    height: 165px;
    width: 217px;
    box-shadow: none !important;
}

.profileInfoText {
    font-family: cursive !important;
    font-weight: 600 !important;
}